@use "../../../variables.scss" as *;

.list {
  border-radius: 4px;
  margin: 10px;
  background-color: $background-gray-color;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.sortable-cards {
  min-height: 380px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scrollable-list {
  width: 260px;
}

.list-title {
  font-size: 16px;
  padding: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  .dx-button {
    background-color: rgba(0, 0, 0, 0);
  }
}

.add-task {
  padding: 10px;

  .dx-icon,
  .dx-button-text {
    color: $accent-color;
  }
}
