@use "../../variables.scss" as *;
@use "sass:math";

$side-panel-toolbar-height: 76px;

.view.crm-contact-list {
  width: 100%;
  display: contents;
}

@include separator();
@include status();

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .grid {
    height: 100%;

    .name-template {
      margin: -6px 0;

      .position {
        font-size: 12px;
        color: #757575de;
      }
    }

    & {
      .dx-datagrid-header-panel {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .clickable-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  .panel {
    position: fixed;
    right: -350px;
    top: $side-panel-toolbar-height;
    bottom: 0;
    background: $base-bg;
    transition: right 400ms;

    & {
      top: 0;
    }

    &.open {
      right: 0;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
    }

    &.pin {
      top: 0;
      position: absolute;
      transition: none;
      box-shadow: none;
      border-left: 1px solid $base-border-color;

      &.open {
        position: relative;
      }
    }

    .data-wrapper {
      width: 350px;
      padding-bottom: 16px;
      height: 100%;

      .data-part {
        padding: 0 16px;

        &.border {
          padding-bottom: 5px;
          border-bottom: 1px solid $base-border-color;
        }
      }

      .panel-scroll {
        height: calc(100% - #{$side-panel-toolbar-height});
      }

      .contact-name {
        font-weight: bold;
        margin-right: 8px;
      }

      @include user-info();

      .panel-toolbar {
        padding: 10px 3px 0 0;
      }

      .opportunities {
        padding-bottom: 10px;
      }

      .accordion-title {
        vertical-align: middle;
        padding-right: 10px;
      }

      & {
        .dx-accordion {
          margin: 0;
        }

        .dx-accordion-item {
          box-shadow: none;
          border: none;

          &.dx-accordion-item-opened {
            margin: 0;
          }
        }

        .dx-accordion-item-title {
          padding: 6px 0;
          background-color: transparent;

          .dx-accordion-item-title-caption {
            left: 0;
          }
        }

        .dx-accordion-item-body {
          padding: 0;
          margin-right: 2px;
        }
      }
    }
  }

  .cell-info {
    position: relative;

    .status {
      position: absolute;
      margin-top: 10px;
      margin-left: 11px;
    }
  }
}

