@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--background-color);
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

::ng-deep .dx-drawer-panel-content .dx-overlay-content {
  box-shadow: 0 4px 4px 0 rgba(0 0 0 / 12%);
}
