@use "../../../../variables.scss" as *;
@use "sass:math";

#tasks-grid {
  min-height: 300px;
}

::ng-deep {
  .dx-row.completed {
    background: var(--background-gray-color);
  }
}

.edit-cell {
  position: relative;
}
