@use "../../../../variables.scss" as *;

.contact-status .status-editor-field .status-indicator {
  align-self: flex-end;

  &::ng-deep .status {
    display: inline;
  }
}

.status-editor-field {
  display: flex;

  .status-indicator {
    display: flex;
    align-self: center;
    padding-left: var(--list-padding-left);
  }

  ::ng-deep {
    .status {
      display: flex;
    }

    .status-input.status-input {
      padding-left: 0;
    }
  }
}

:host-context(.dx-theme-fluent) {
  .contact-status.dx-state-readonly {
    .status-editor-field {
      .status-indicator {
        padding-left: 0;
      }
    }

    ::ng-deep {
      .status-input.status-input {
        font-size: 16px;
      }
    }
  }

  .contact-status .status-editor-field .status-indicator {
    align-self: center;
  
    &::ng-deep .status {
      display: flex;
    }
  }
}
