@use "../../../../variables.scss" as *;

.contact-status .status-editor-field .status-indicator {
  align-self: flex-end;

  &::ng-deep .status {
    display: inline;
  }
}

.status-editor-field {
  display: flex;

  .status-indicator {
    display: flex;
    align-self: center;
    padding-left: var(--list-padding-left);
  }

  ::ng-deep {
    .status {
      display: flex;
    }

    .status-input.status-input {
      padding-left: 0;
    }
  }
}
