@use '../../../../variables.scss' as *;

.status-select-box {
  ::ng-deep {
    .dx-dropdowneditor-field-before-template-wrapper {
      min-width: 0;

      .status.contact-status {
        display: inline-flex;
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }

  &:not(.dx-state-readonly) {
    ::ng-deep .dx-dropdowneditor-field-before-template-wrapper .status.contact-status {
      padding-left: var(--list-padding-left);
    }
  }
}

.contact-status .status-editor-field .status-indicator {
  align-self: flex-end;

  &::ng-deep .status {
    display: inline;
  }
}

.status-editor-field {
  display: flex;

  .status-indicator {
    display: flex;
    align-self: center;
    padding-left: var(--list-padding-left);
  }

  ::ng-deep {
    .status {
      display: flex;
    }

    .status-input.status-input {
      padding-left: 0;
    }
  }
}
