span.status {
  font-size: 14px;

  &.status-open {
    color: #505ed9;
  }

  &.status-in-progress {
    color: #34aa95;
  }

  &.status-deferred {
    color: #969696;
  }

  &.status-completed {
    color: #2b9029;
  }
}
