span.status {
    font-size: 14px;

    &.status-open {
        color: #505ED9;
    }

    &.status-in-progress {
        color: #34AA95;
    }

    &.status-deferred {
        color: #969696;
    }

    &.status-completed {
        color: #2B9029;
    }
}
