@use '../../variables.scss' as *;
@use 'sass:math';

@include separator();

.view-wrapper-dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
  position: relative;

  .cards {
    display: grid;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: repeat(2, calc(50% - 10px));

    &.compact {
      grid-template-columns: repeat(4, calc(25% - 15px));

      .card {
        background-color: $side-panel-background;
        border: none;
        height: 120px;

        .dx-button {
          background-color: $side-panel-background;
        }
      }

      .dx-loadpanel-indicator {
        width: 24px;
        height: 24px;
      }
    }

    &.wide {
      margin-right: 0;
      grid-template-columns: repeat(1, 100%);
    }

    &.no-border.wide {
      .card {
        border: none;

        .card-contents {
          height: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .cards {
      grid-template-columns: repeat(1, 100%);

      &.compact {
        grid-template-columns: repeat(2, calc(50% - 10px));
      }
    }

    .card {
      .card-contents {
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .cards {
      &.compact {
        grid-template-columns: repeat(1, 100%);
      }
    }
  }

  .dx-toolbar {
    .toolbar-header {
      @include header();
    }
  
    @media only screen and (max-width: 400px) {
      .dx-tab {
        min-width: 70px;
      }
    }
  }
}
