@use "../../../variables.scss" as *;
@use "sass:math";

$side-panel-toolbar-height: 76px;

:host {
  width: 100%;
  display: contents;
}

@include separator();

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .grid {
    .name-template {
      margin: -6px 0;

      .position {
        font-size: 12px;
        color: #757575de;
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .clickable-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}

.edit-cell {
  position: relative;

  contact-status {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px
  }
}
