@use "../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 76px;

  width: 100%;
  display: contents;
}

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;

  .grid {
    padding: 0 var(--page-padding);
    .name-template {
      .position {
        font-size: 12px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep .dx-row-focused {
      .name-template {
        color: var(--base-focus-color);

        .position.position {
          color: var(--base-focus-color);
        }
      }

      .status {
        @include status(var(--base-focus-color));
      }
    }

    ::ng-deep & {
      //fluent
      .dx-datagrid-header-panel {
        padding: 5px var(--content-padding);
        border-bottom: 0;
        margin: 24px 0;
        background-color: var(--base-bg);
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
      }

      .dx-toolbar {
        margin-bottom: 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}

.edit-cell {
  position: relative;

  contact-status {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
  }
}
