@use "../../../variables" as *;
@use "sass:math";

$grid-height: calc(100vh - 160px);
$side-panel-toolbar-height: 56px;

:host {
    display: flex;
    flex-grow: 1;
}

@include separator();

@include status();

.view-wrapper {

    .grid {
        height: $grid-height;

        .name-template {
            margin: -6px 0;

            .position {
                font-size: 12px;
                color: #757575DE;

            }
        }

        ::ng-deep & .dx-datagrid-header-panel {
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .grid-header {
            @include header();
        }
    }

    .panel {
        position: absolute;
        height: $grid-height;
        right: -350px;
        background: $base-bg;
        transition: all 400ms;

        &.open {
            right: 0;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
        }

        &.pin.open {
            box-shadow: none;
            transition: none;
            border-left: 1px solid $base-border-color;
            position: relative;
        }

        .data-wrapper {
            width: 350px;
            padding: 0 16px 16px;
            height: 100%;

            .panel-scroll {
                height: calc(100% - #{$side-panel-toolbar-height});
            }

            .contact-name {
                font-weight: bold;
                margin-right: 8px;
            }

            @include user-info();

            .panel-toolbar {
                padding: 10px 3px 0 0;
            }

            .opportunities {
                padding-bottom: 10px;
            }

            .activities-list {
                ::ng-deep & .dx-list-item {
                    margin: 10px 0;
                    overflow: visible;
                    background: transparent;
                }

                .dx-list-item-content {
                    padding: 0;
                    overflow: visible;
                }

                .activity {
                    box-shadow: 0px 1px 4px 0px #00000026;
                    border-left: 2px solid $base-accent;
                    margin-right: 4px;
                    padding: 8px 2px 8px 16px;

                    display: grid;
                    grid-template-columns: 1fr 0fr 0fr;
                    align-items: center;

                    .name {
                        max-width: 150px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .date {
                        padding: 0 10px;
                    }
                }
            }

            ::ng-deep & {
                .dx-accordion {
                    margin: 0;
                }
                .dx-accordion-item {
                    box-shadow: none;
                    border: none;
                    &.dx-accordion-item-opened {
                        margin: 0;
                    }
                }
                .dx-accordion-item-title {
                    padding: 12px 0;
                    background-color: transparent;
                    .dx-accordion-item-title-caption {
                        left: 0;
                    }
                }

                .dx-accordion-item-body {
                    padding: 0;
                    margin-right: 2px;
                }
            }
        }
    }
}

