@use '../../../variables.scss' as *;
@use 'sass:math';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.view-wrapper.view-wrapper-dashboard {
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  padding-top: var(--content-padding);
  padding-bottom: var(--content-padding);
  position: relative;
  overflow: hidden;
}

.cards {
  display: grid;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  grid-template-columns: repeat(2, calc(50% - 10px));

  &.wide {
    grid-template-columns: repeat(1, 100%);
    margin-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
  }
}
