@use "../../../variables.scss" as *;

.contact-form {
  min-height: 300px;

  .dx-form {
    .form-item-button {
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  .status-editor-field {
    display: flex;
    padding-left: var(--list-padding-left);

    .status-contact {
      align-items: flex-end;
    }
  }

  .dx-texteditor-with-floating-label {
    .status-editor-field {
      .status-contact {
        align-self: flex-end;
      }
    }
  }
}
