@use '../../variables.scss' as *;

.card {
  border-radius: 4px;
  box-shadow: none;
  position: relative;
  border: 1px solid $base-border-color;
  overflow: hidden;

  .header {
    padding: $content-padding $content-padding 0;
  }

  .overflow-menu {
    position: absolute;
    right: 10px;
    left: auto;
    top: 10px;
  }

  .title {
    color: $base-text-color;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
    padding-right: 25px;
  }

  .content {
    padding: 0 $content-padding $content-padding;
    box-sizing: content-box;
    font-size: 14px;
    line-height: 17px;
    height: 270px;
  }

  &.grid {

    .content {
      border-top: 1px solid $base-border-color;
      padding: 0 0 $content-padding;
    }
  }
}
