$theme: null !default;

@use "/node_modules/devextreme/scss/widgets/material/colors" as * with ($color: "blue", $mode: $theme);
@use "/node_modules/devextreme/scss/widgets/material/sizes" as * with ($size: "compact");
@use "/node_modules/devextreme/scss/widgets/material/button/mixins" as *;
@use "/node_modules/devextreme/scss/widgets/material/textEditor/colors" as *;
@use "/node_modules/devextreme/scss/widgets/material/fieldset/sizes" as *;
@use "/node_modules/devextreme/scss/widgets/material/popup/sizes" as *;
@use '/node_modules/devextreme/scss/widgets/material/toolbar/sizes' as toolbar_sizes;
@use "/node_modules/devextreme/scss/widgets/material/list/sizes" as *;
@use "/node_modules/devextreme/scss/widgets/material/button/sizes" as *;
@use "sass:math";
@use "sass:color";

body.theme-#{$theme} {
  $base-bg-darken-5: darken($base-bg, 5);
  $base-bg-darken-4: darken($base-bg, 4);
  $background-gray-color: color.change($base-text-color, $alpha: 0.04);
  $base-text-color-alpha: rgba($base-text-color, alpha($base-text-color) * 0.7);
  $side-panel-min-width: 48px;
  $footer-left-padding: math.div(($side-panel-min-width - $material-base-icon-size), 2);

  $theme-padding: $material-button-horizontal-padding;
  $button-height-theme-difference: calc(($theme-padding - 10px) / 3); // WA for no button-height in generic theme
  $button-height: calc(26px + $button-height-theme-difference); // remove when design-system is released
  $scheduler-toolbar-height: calc($button-height + 2 * $theme-padding);
  $tooltip-danger-button-color: color.change($base-danger, $alpha: 0.1);
  $tooltip-success-button-color: color.change($base-success, $alpha: 0.1);
  $calendar-width: 292px;

  --base-bg: #{$base-bg};
  --base-bg-darken-5: #{$base-bg-darken-5};
  --base-bg-darken-4: #{$base-bg-darken-4};
  --background-color: var(--base-bg);
  --button-height: #{$button-height};
  --scheduler-toolbar-height: #{$scheduler-toolbar-height};
  --tooltip-danger-button-color: #{$tooltip-danger-button-color};
  --tooltip-success-button-color: #{$tooltip-success-button-color};
  --theme-padding: #{$theme-padding};
  --card-background: #{$base-bg};
  --side-panel-background: var(--base-bg-darken-5);
  --border-color: #{$base-border-color};
  --accent-color: #{$base-accent};
  --calendar-width: #{$calendar-width};
  --base-text-color: #{$base-text-color};
  --base-focus-color: #{$base-focus-color};
  --background-gray-color: #{$background-gray-color};
  --texteditor-edit-color: #{$texteditor-color};
  --texteditor-label-color: #{$texteditor-label-color};
  --base-text-color-alpha: #{$base-text-color-alpha};
  --side-panel-min-width: #{$side-panel-min-width};
  --toolbar-height: #{toolbar_sizes.$material-toolbar-height};
  --filled-texteditor-input-horizontal-padding: #{$material-field-value-horizontal-padding};
  --list-padding-left: #{$material-list-item-horizontal-padding};
  --list-padding-vertical: #{$material-list-item-vertical-padding};
  --footer-left-padding: #{$footer-left-padding};
  --popup-toolbar-item-spacing: #{$material-popup-toolbar-item-spacing};
  --drop-down-gnrc-button-height: #{$material-base-inline-widget-height};

  @if $theme == dark {
    --card-background: var(--base-bg-darken-5);
  }
}
