@use "../../../../variables.scss" as *;

#contact-form {
  min-height: 300px;

  .form-title {
    font-size: 16px;
  }

  .dx-toolbar {
    margin-bottom: $toolbar-margin-bottom;
  }
}

.dx-form {
  .form-item-button {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.info {
  position: relative;
  padding-bottom: 30px;
}

.status-editor-field {
  .status-indicator {
    padding-left: $list-padding-left;
  }
  ::ng-deep .status-input.status-input {
    padding-left: 0;
  }
  > * {
    display: inline-block;
  }
}
