@use "../../variables.scss" as *;
@use "sass:math";

.view-wrapper-calendar {
    position: relative;
    flex-direction: column;
    display: flex;
    height: inherit;
    
    .panels {
        display: flex;
        flex-wrap: wrap;
        height: inherit;
        gap: 16px;
        padding: $content-padding;
        
        .left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          padding-top: $content-padding;
          width: calc(292px + 16px);
          
          .buttons{
            display: flex;
            width: 100%;
            gap: 16px;
            padding: 0px 16px;
            .dx-button {
              width: calc((100% - 16px)/2);
              font-size: 13px;
              border-radius: 4px;
            }
          }

          .calendar {
            align-self: center;
            padding: 16px;
          }

          .dx-calendar {
            width: 292px;
          }

          .dx-list {
            width: 100%;
            padding: 16px;

            .dx-list-group-header{
              padding: 8px 8px 8px 16px;
              display: flex;
              vertical-align: middle;
              align-items: center;
              justify-content: space-between;
              color: rgba(0, 0, 0, 0.87);
            }

            .list-header{
              display: flex;
              vertical-align: middle;
              align-items: center;
              gap: 8px;
              font-weight: 500;
              font-size: 16px;
              line-height: 18px;
            }

            .dx-list-group-header-indicator{
              order: 3;
            }

            .list-item {
              padding: 6px 8px 6px 16px;
              display: flex;
              vertical-align: middle;
              align-items: center;
            }

            .dx-list-item-content{
              padding: 0px;
            }
            
            .dx-checkbox-container {
              padding: 6px;
            }
            .list-item-text{
              // padding: 0px 8px;

              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }
            
          }
        }
    
        .right {
          flex: 1;
          height: inherit;
          border: 1px grey;
          border-radius: 8px;
        }
    }
    
    .dx-scheduler-header{
      border-radius: 8px 8px 0px 0px;
      height: 60px;
      .dx-toolbar{
        padding: $content-padding;
      }
    }
    .dx-scheduler-work-space{
      border-radius: 0px 0px 8px 8px;
    }
}

