@use "../variables.scss" as *;

@mixin menu-pre-init-patch {
  --menu-min-size: 60px;

  .dx-drawer-content {
    padding-left: var(--menu-min-size);
  }

  .dx-drawer-panel-content.dx-overlay::before {
    content: "";
    width: var(--menu-min-size);
    height: 100%;
    display: inline-block;
    position: absolute;
    background-color: var(--base-bg);
  }

  .dx-overlay-content {
    width: var(--menu-min-size) !important;
  }
}
