@use "../../../variables.scss" as *;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.view-wrapper {
  padding: $content-padding;
}

::ng-deep {
  td.dx-command-adaptive.dx-command-adaptive,
  td.sales-bullet.sales-bullet {
    border-left: none;
    border-right: none;
  }
}
