@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

.view-wrapper {
  flex-direction: column;
}

::ng-deep {
  td.dx-command-adaptive.dx-command-adaptive,
  td.sales-bullet.sales-bullet {
    border-left: none;
    border-right: none;
  }
}
