@use "../../variables.scss" as *;
@use "sass:math";
@use "sass:color";
.calendar-list {
    width: 100%;

    .dx-list-group-header{
      padding: 8px 8px 8px $theme-padding;
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: space-between;
      border-style: none;
      color: $base-text-color;
    //   color: rgba(0, 0, 0, 0.87);
      .dx-inkripple{
        border-radius: 4px;
      }
    }

    .list-header{
      display: flex;
      vertical-align: middle;
      align-items: center;
      gap: 8px;
      @include h1-header-text();
    }

    .dx-list-group-header::before{
      order: 3;
    }

    .dx-list-group-header-indicator{
        order: 3;
    }

    .dx-item-content{
      padding: 0px;
    }

    .dx-list-item{
      border-style: none;
    }
    .dx-list-item.dx-list-item-selected {
      background-color: $base-bg !important;
    }

    .dx-list-group{
      border-style: none !important;
    }

    .list-item {
      padding: 6px 8px 6px $theme-padding;
      display: flex;
      vertical-align: middle;
      align-items: center;
      border-radius: 4px;
    }
    
    .dx-checkbox-container {
      padding: 6px;
    }
    .list-item-text{
      padding: 0px 4px;

      @include calendar-items-text()
    }

    --checkbox-color: $base-accent;
    .dx-checkbox-container .dx-checkbox-icon{
      background-color: var(--checkbox-color)
    }
    .dx-checkbox.dx-state-focused .dx-checkbox-icon::after {
      background-color: var(--checkbox-color);
    }
    .dx-checkbox.dx-checkbox-checked.dx-state-focused .dx-checkbox-icon::after {
      background-color: var(--checkbox-color);
    }
  }