@use "../../variables.scss" as *;
@use "sass:math";
.dx-list {
    width: 100%;
    padding: 16px;

    .dx-list-group-header{
      padding: 8px 8px 8px 16px;
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: space-between;
      border-style: none;
      color: $base-text-color;
    //   color: rgba(0, 0, 0, 0.87);
      .dx-inkripple{
        border-radius: 4px;
      }
    }

    .list-header{
      display: flex;
      vertical-align: middle;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
    }

    .dx-list-group-header::before{
      order: 3;
    }

    .dx-list-group-header-indicator{
        order: 3;
    }

    .dx-item-content{
      padding: 0px;
    }

    .dx-list-item{
      border-style: none;
    }

    .dx-list-group{
      border-style: none !important;
    }

    .list-item {
      padding: 6px 8px 6px 16px;
      display: flex;
      vertical-align: middle;
      align-items: center;
      border-radius: 4px;
    }
    
    .dx-checkbox-container {
      padding: 6px;
    }
    .list-item-text{
      padding: 0px 4px;

      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }