@use "../../../variables.scss" as *;

.user-info {
  display: flex;
  align-items: center;

  :host-context(.dx-toolbar-menu-section) & {
    padding: 10px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .image-container {
    overflow: hidden;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .user-image {
      width: 100%;
      height: 100%;
    }
  }

  .user-name {
    font-size: 16px;
    color: $base-text-color;
    margin: 0 9px;
  }
}

.user-panel ::ng-deep {
  .dx-list-item .dx-icon {
    vertical-align: middle;
    color: $base-text-color;
    margin-right: 16px;
  }

  .dx-rtl .dx-list-item .dx-icon {
    margin-right: 0;
    margin-left: 16px;
  }

  .dx-dropdownbutton:not(.dx-dropdownbutton-has-arrow) {
    margin-left: 5px;
    height: 100%;

    img.dx-icon {
      border-radius: 50%;
      margin: 0 4px;
      height: 26px;
      width: 26px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      object-fit: cover;
      object-position: top;
      background: rgb(255, 255, 255);
      background-clip: padding-box;
    }

    .dx-buttongroup {
      vertical-align: middle;

      .dx-button-has-icon.dx-button-has-text {
        justify-content: center;

        .dx-button-content {
          padding: 0;
        }

        .dx-button-text {
          text-transform: none;
          font-size: 16px;
          color: $base-text-color;
          font-weight: 400;
          letter-spacing: normal;
          margin: 0 9px;
        }
      }
    }
  }
}
