@use "../../../variables.scss" as *;

.user-info {
  display: flex;
  align-items: center;

  :host-context(.dx-toolbar-menu-section) & {
    padding: 10px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .image-container {
    overflow: hidden;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .user-image {
      width: 100%;
      height: 100%;
    }
  }

  .user-name {
    font-size: 16px;
    color: $base-text-color;
    margin: 0 9px;
  }
}

.user-panel ::ng-deep {
  display: flex;
  flex-direction: column;

  .dx-list-item .dx-icon {
    vertical-align: middle;
    color: $base-text-color;
    margin-right: 16px;
  }

  .dx-rtl .dx-list-item .dx-icon {
    margin-right: 0;
    margin-left: 16px;
  }

  .user-button {
    margin-left: 5px;

    img.dx-icon {
      border-radius: 50%;
      margin: 0;
      width: auto;
      aspect-ratio: 1 / 1;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.1);
      object-fit: cover;
      object-position: top;
      background: rgb(255, 255, 255);
      background-clip: padding-box;

      ::ng-deep .dx-theme-generic & {
        height: $drop-down-gnrc-button-height;
      }

      ::ng-deep .dx-theme-material & {
        height: 100%;
      }
    }

    .dx-buttongroup {
      vertical-align: middle;

      .dx-button.dx-button-has-icon:not(.dx-button-has-text) {
        .dx-button-content {
          padding: 0;
        }

        &.dx-state-hover,
        &.dx-state-focused {
          background-color: transparent;

          img.dx-icon {
            border-color: $accent-color;
          }
        }
      }
    }
  }
}
