@use "../../../variables.scss" as *;

.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  ::ng-deep .form-text {
    margin: 10px 0;
    color: $base-text-color-alpha;
  }
}
