@use "../../../../variables" as *;

#task-form {
  min-height: 300px;
}

.info {
  position: relative;
  padding-bottom: 30px;

  span {
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
  }

  task-priority,
  task-status {
    position: absolute;
    margin-top: 20px;

    ::ng-deep {
      span {
        font-size: 16px;
      }
    }
  }
}

.form-custom-list-prop {
  task-priority,
  task-status {
    position: absolute;
    padding: 25px 15px;

    ::ng-deep {
      span {
        font-size: 14px;
      }
    }
  }
}
