@use "../../../../variables" as *;

@include user-info();

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    flex-basis: 180px;

    &:first-child {
      flex-basis: 204px;
    }
  }

  &.last {
    margin-bottom: 30px;

    &.long {
      > div {
        &:first-child {
          flex-basis: auto;
        }
      }
    }
  }

  .title {
    padding-top: 8px;
  }
}
