@use "../../../../variables.scss" as *;

#task-form {
  min-height: 300px;

  .form-title {
    font-size: 16px;
  }

  .dx-toolbar {
    margin-bottom: $toolbar-margin-bottom;
  }
}

.info {
  position: relative;
  padding-bottom: 30px;

  task-priority,
  task-status {
    position: absolute;
    margin-top: 15px;

    ::ng-deep {
      span {
        font-size: 13px;
      }
    }
  }
}

.custom-field {
  task-priority,
  task-status {
    position: absolute;
    bottom: 0;
    padding-left: calc(#{$filled-texteditor-input-horizontal-padding} + 3px);

    ::ng-deep {
      span {
        font-size: 13px;
      }
    }
  }
}
