@use "../../variables.scss" as *;
@use "sass:math";

@include separator();

.view-wrapper-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .dx-toolbar.toolbar-common {
    padding: 20px $content-padding $content-padding;

    .toolbar-header {
      @include header();
    }

    .dx-tabs .dx-tab {
      background-color: $background-color;
    }
  }

  .gantt,
  .kanban {
    margin: 0 $content-padding;
  }

}
