@use "../../variables.scss" as *;
@use "sass:math";

@include separator();

.dx-toolbar {
  .toolbar-header {
    @include header();
  }

  .dx-tabs .dx-tab {
    background-color: $background-color;

    &:nth-child(2) {
      width: 150px;
    }
  }
}

.add-grid-row {
  .dx-icon.dx-icon-plus,
  .dx-button-text {
    color: #fff;
  }
}

.view-wrapper-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}
