@use '../../../../variables.scss' as *;

#task-form {
  min-height: 250px;

  ::ng-deep .task-details-select-box {
    .dx-dropdowneditor-field-before-template-wrapper {
      min-width: 0;

      .status.status-indicator {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        span {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }

  ::ng-deep .dx-form:not(.view-mode) {
    .task-details-select-box {
      .dx-dropdowneditor-field-before-template-wrapper {
        .status.status-indicator {
          padding-left: var(--list-padding-left);
          padding-top: 15px;
        }
      }
    }
  }
}

.form-editor {
  task-priority,
  task-status {
    position: absolute;
    bottom: 0;
    padding-left: calc(var(--filled-texteditor-input-horizontal-padding) + 3px);

    ::ng-deep {
      span {
        font-size: 13px;
      }
    }
  }
}
