@use "../../../../variables.scss" as *;

#task-form {
  min-height: 250px;
}

.form-editor {
  task-priority,
  task-status {
    position: absolute;
    bottom: 0;
    padding-left: calc(var(--filled-texteditor-input-horizontal-padding) + 3px);

    ::ng-deep {
      span {
        font-size: 13px;
      }
    }
  }
}
