@use "../../../../variables.scss" as *;

.appointment-tooltip {
  white-space: normal;
  width: 100%;
  text-align: left;

  .title {
    padding: 8px 8px 8px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .date {
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .description {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-align: justify;
  }

  .buttons {
    display: flex;
    width: 100%;
    gap: 16px;
    padding: $content-padding;

    .dx-button {
      width: calc((100% - $content-padding)/2);
      font-size: 13px;
    }
  }
}
