@use "../../variables.scss" as *;
@use "sass:math";

#contact-panel {
  // --contact-side-panel-width: 350px;
  --contact-side-panel-width: calc(292px + 16px);

}

.screen-x-small #contact-panel {
  --contact-side-panel-width: 100vw;
}

.side-panel {
  &.small{
    &.overlap{
      position: absolute;
      padding-top: 16px;
      top: 0;
      bottom: 0;
      z-index: 5;
      background: $base-bg;
      &.side-right{
          right: calc(-1 * var(--contact-side-panel-width));
          transition: right 400ms;
      }
      &.side-left{
        left: calc(-1 * var(--contact-side-panel-width));
        transition: left 400ms;
      }
      &.open {
        &.side-left{
          left: 0px;
          //change this to padding for the correct shadow cast and modify contact panel width
          margin-left: calc(2*$theme-padding + $button-height);
          transition: left 400ms ease;
          width: var(--contact-side-panel-width);
        }
        &.side-right{
          right: 0px;
          transition: right 400ms ease;
          border: 2px $base-border-color;
          width: var(--contact-side-panel-width);
          z-index: 7;
        }
        box-shadow: 0px 0 8px $base-border-color;
      }
    }
  }

  &.resize{
    display: flex;
    flex: 0.0001 1 0px;
    display: none;
    &.open{
      flex: 0.0001 1 300px;
      display: block;
      border: solid 1px $base-border-color;
      border-radius: 8px;
    }
  }
  
}
.open-button {
  margin-top: $theme-padding;
  z-index: 6;
  height: $button-height;
  &.hidden{
    display: none;
  }
  // &.absolute{
  //   position: absolute;
  // }
}

