@use "variables.scss" as *;

.view-wrapper {
  display: flex;
  overflow: hidden;
}

.plain-styled-form {
  .dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 0;
  }

  .dx-field-item {
    padding: 0;

    &.contact-fields-group {
      padding: 15px 0;
    }

    task-priority,
    .status {
      line-height: 18px;
      font-size: 13px;
    }

    task-priority {
      .separator {
        max-height: 12px;
      }
    }
  }

  &.view-mode {
    .accent {
      .dx-texteditor.form-editor .form-editor-input {
        color: $accent-color;
      }
    }

    .dx-texteditor,
    .dx-texteditor.form-editor, {
      pointer-events: none;

      .form-editor-input {
        color: $texteditor-edit-color;
      }

      &,
      & > * {
        background-color: transparent;
      }

      &,
      & *,
      &::after {
        border-color: transparent;
        opacity: 1;
      }
    }
  }
}

@mixin status($status-color) {
  color: $status-color;

  &.dx-texteditor {
    .status-input.status-editor-input {
      color: $status-color;
    }
  }

  &::before {
    background: $status-color;
  }
}

.status-commission {
  @include status(#03a9f4);
}

.status-salaried {
  @include status(#2eb52c);
}

.status-terminated {
  @include status(#de8e8c);
}
