@use "variables.scss" as *;

.view-wrapper {
  display: flex;
  overflow: hidden;
}

.custom-form {
  .dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 0;
  }

  .dx-field-item {
    padding: 0;

    &:not(.dx-first-row):not(.dx-field-item-has-group) {
      padding-top: 15px;
    }

    &.dx-field-item-has-group.dx-first-col.dx-last-row {
      padding: 15px 0;
    }

    task-priority,
    .status {
      line-height: 18px;
      font-size: 13px;
    }

    task-priority {
      .separator {
        max-height: 12px;
      }
    }
  }

  .dx-texteditor.custom-field .custom-field-icon:first-child {
    margin-left: 0;
    pointer-events: none;
    border-color: transparent;
    background-color: transparent;
  }

  .view-mode {
    .accent {
      .dx-texteditor.custom-field .custom-field-input {
        color: $accent-color;
      }
    }

    .dx-texteditor,
    .dx-texteditor.custom-field, {
      pointer-events: none;

      .custom-field-input {
        color: $texteditor-edit-color;
      }

      &,
      & > * {
        background-color: transparent;
      }

      &,
      & *,
      &::after {
        border-color: transparent;
        opacity: 1;
      }
    }
  }
}
