@use "variables.scss" as *;

.view-wrapper {
  display: flex;
  overflow: hidden;
}

.form-compact {
  .dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 0;
  }

  .dx-field-item {
    padding: 0;

    &:not(.dx-first-row):not(.dx-field-item-has-group) {
      padding-top: 15px;
    }

    &.dx-field-item-has-group.dx-first-col.dx-last-row {
      padding: 15px 0;
    }

    .accent {
      .custom-form-item-value {
        color: $accent-color;
      }
    }

    task-priority span,
    .status {
      line-height: 18px;
      font-size: 13px;
    }

    dx-select-box task-priority {
      .separator {
        max-height: 12px;
      }
    }
  }
}
