@use "../node_modules/devextreme/scss/widgets/material/colors" as * with ($color: "blue", $mode: "light");
@forward "../node_modules/devextreme/scss/widgets/material/colors";
@use "sass:math";

$side-panel-min-width: 60px;
$side-panel-background: darken($base-bg, 5.00);

@mixin separator() {
    .separator {
        height: 36px;
        width: 1px;
        background: $base-border-color;
        ::ng-deep .dx-toolbar-menu-section & {
            height: 1px;
            width: auto;
        }
    }
}

@mixin  status {
    .view-wrapper .status {
        font-size: 12px;
    
        &::before {
            $diameter: 10px;
            content: ' ';
            width: $diameter;
            height: $diameter;
            border-radius: math.div($diameter, 2);
            margin-right: math.div($diameter, 2);
            display: inline-block;
        }

        &.input {
            padding: 15px 16px 14px;
        }
    
        &.status-commission {
            color: $base-accent;
            &::before {
                background-color: $base-accent;
            }
        }
    
        &.status-salaried {
            color: #2EB52C;
            &::before {
                background-color: #2EB52C;
            }
        }
    
        &.status-terminated {
            color: #DE8E8C;
            &::before {
                background-color: #DE8E8C;
            }
        }
    }
}

@mixin header {
    font-size: 22px;
    font-weight: 500;
    padding-right: 25px;
}

@mixin user-info {
    .user-info {
        margin-bottom: 20px;
        display: flex;
        .photo {
            width: 124px;
            height: 124px;
            margin-right: 20px;
            border-radius: 8px;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 2px 8px 0px #00000014;
            border: 1px solid #E0E0E0;
        }
    }

    .title {
        font-size: 12px;
        color: #757575DE;

        &:not(:first-child) {
            padding-top: 10px;
        }
    }

    .value {
        font-size: 16px;
        color: $base-accent;
        &.black {
            color: $base-text-color;
        }
        &.small {
            font-size: 12px;
        }
        .dx-icon {
            vertical-align: bottom;
            padding: 10px 12px 0 0;
        }
    }
}
