@use "../node_modules/devextreme/scss/widgets/material/colors" as * with ($color: "blue", $mode: "light");
@use "../node_modules/devextreme/scss/widgets/material/sizes" as * with ($size: "compact");
@use "../node_modules/devextreme/scss/widgets/material/button/mixins" as *;
@use "../node_modules/devextreme/scss/widgets/material/textEditor/colors" as *;
@use "../node_modules/devextreme/scss/widgets/material/fieldset/sizes" as *;
@use "../node_modules/devextreme/scss/widgets/material/list/sizes" as *;

@forward "../node_modules/devextreme/scss/widgets/material/colors";
@forward "../node_modules/devextreme/scss/widgets/material/textEditor/colors";

@use "sass:math";
@use "sass:color";

$content-padding: 16px;
$side-panel-min-width: 60px;
$side-panel-background: darken($base-bg, 5);
$background-color: $base-bg;
$accent-color: $base-accent;
$background-gray-color: color.change($base-text-color, $alpha: 0.04);
$toolbar-margin-bottom: $content-padding;
$toolbar-items-container-height: 38px;
$texteditor-edit-color: $texteditor-color;
$filled-texteditor-input-horizontal-padding: $material-field-value-horizontal-padding;
$list-padding-left: $material-list-item-horizontal-padding;

@mixin separator() {
  .separator {
    height: 24px;
    width: 1px;
    background: $base-border-color;

    ::ng-deep .dx-toolbar-menu-section & {
      height: 1px;
      width: auto;
    }
  }
}

@mixin header {
  font-size: 22px;
  font-weight: 500;
  padding-right: 25px;
}

@mixin message-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: $texteditor-label-color;
}

@mixin message-text {
  padding-top: 5px;
  line-height: 21px;
}

@mixin messages-content {
  .message-list {
    max-height: 320px;
  }
  
  .messages-content {
    padding: 20px;
    border-top: 1px solid $base-border-color;
    background-color: $side-panel-background;
  }
}
