@use "../node_modules/devextreme/scss/widgets/material/colors" as * with ($color: "blue", $mode: "light");
@use "../node_modules/devextreme/scss/widgets/material/sizes" as * with ($size: "compact");
@use "../node_modules/devextreme/scss/widgets/material/button/mixins" as *;
@use "../node_modules/devextreme/scss/widgets/material/textEditor/colors" as *;

@forward "../node_modules/devextreme/scss/widgets/material/colors";
@forward "../node_modules/devextreme/scss/widgets/material/textEditor/colors";

@use "sass:math";
@use "sass:color";

$side-panel-min-width: 60px;
$side-panel-background: darken($base-bg, 5);
$background-color: $base-bg;
$accent-color: $base-accent;
$background-gray-color: color.change($base-text-color, $alpha: 0.04);
$text-button-horizontal-padding: $material-button-icononly-padding;
$toolbar-margin-bottom: 16px;
$content-padding: 20px 16px 0 16px;

@mixin separator() {
  .separator {
    height: 24px;
    width: 1px;
    background: $base-border-color;

    ::ng-deep .dx-toolbar-menu-section & {
      height: 1px;
      width: auto;
    }
  }
}

@mixin header {
  font-size: 22px;
  font-weight: 500;
  padding-right: 25px;
}

@mixin message-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: $texteditor-label-color;
}

@mixin message-text {
  padding-top: 5px;
  line-height: 21px;
}

@mixin page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $content-padding;
}
