@use "../../variables.scss" as *;

.contact-form {
    min-height: 300px;
      
    .status-contact {
        display: flex;
        align-self: flex-end;
        padding-left: $list-padding-left;
    }

    .dx-form {
        .form-item-button {
          margin-left: 10px;
          margin-top: 5px;
        }
    }
}