@use "../../../variables.scss" as *;

.reset-password-form {
  .submit-button {
    margin-top: 18px;
  }

  .login-link {
    color: var(--accent-color);
    text-align: center;
    margin-top: 6px;
  }
}
