@use "../../../variables.scss" as *;
@use "sass:math";

$left-panel-width: 400px;
$right-panel-width: 360px;

:host {
  @include page-container();

  &::ng-deep .contact-name-toolbar-item {
    min-width: 575px;
  }
}

@include separator();

.dx-toolbar ::ng-deep {
  margin-bottom: calc(#{$toolbar-margin-bottom} / 2);

  .dx-toolbar-label > div {
    @include header();
  }
}

.view-wrapper {
  flex-direction: column;

  .panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .left {
      flex: 1 $left-panel-width;
      margin-top: 8px;
    }

    .right {
      flex: 1 calc(100% - #{$left-panel-width} - 20px);
      margin-top: 8px;
      min-width: 360px;
    }
  }
}
