@use "../../../variables.scss" as *;

::ng-deep .dx-texteditor-with-floating-label .status-indicator {
  margin-top: 12px;
}

.status-editor-field {
  display: flex;

  .status-indicator {
    display: flex;
    align-self: center;
    padding-left: $list-padding-left;
  }

  ::ng-deep {
    .status {
      display: flex;

      &::before {
        display: flex;
      }
    }

    .status-input.status-input {
      padding-left: 0;
    }
  }
}
