@use "../../../variables.scss" as *;

#contact-panel {
  --contact-side-panel-toolbar-top: 58px;
  --contact-side-panel-width: 350px;
}

.screen-x-small #contact-panel {
  --contact-side-panel-width: 100vw;
}

.panel {
  position: fixed;
  right: calc(-1 * var(--contact-side-panel-width));
  top: var(--contact-side-panel-toolbar-top);
  bottom: 0;
  background: $base-bg;
  transition: right 400ms;

  .embedded.dx-viewport & {
    top: 0;
  }

  &.open {
    right: 0;
    box-shadow: 0 0 16px $base-border-color;
  }

  &.pin {
    position: absolute;
    transition: none;
    box-shadow: none;
    border-left: 1px solid $base-border-color;

    &.open {
      top: 0;
      position: relative;
    }
  }

  .data-wrapper {
    padding-bottom: 16px;
    height: 100%;
    width: var(--contact-side-panel-width);

    .data-part {
      padding: 0 16px;

      .panel-toolbar {
        .dx-toolbar-items-container {
          height: $toolbar-items-container-height;
        }
      }

      &.border {
        border-bottom: 1px solid $base-border-color;
      }

      &-toolbar {
        padding: 10px 16px;
        margin-bottom: $toolbar-margin-bottom;

        .dx-button {
          min-width: 90px;
        }
      }
    }

    .panel-scroll {
      height: calc(100% - 20px);
    }

    .contact-name {
      font-weight: bold;
      margin-right: 8px;
    }

    .opportunities {
      padding: 0 0 10px 0;
      background-color: transparent;
    }

    .dx-accordion {
      .dx-accordion-item-title {
        vertical-align: middle;
        padding-right: 10px;
        display: flex;
        align-items: center;
      }

      .by-span {
        display: none;
      }
    }
  }
}
