@use "../../../../variables.scss" as *;

:host {
  flex: 1 50%;

  .card {
    margin: 20px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: none;
    position: relative;
    border: 1px solid;
    overflow: hidden;

    .dx-button {
      position: absolute;
      right: 10px;
      left: auto;
      top: 10px;
    }

    .title {
      color: $base-text-color;
      line-height: 19px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      display: inline-block;
      padding-right: 25px;
    }

    .content {
      color: #757575;
      font-size: 14px;
      line-height: 17px;
      height: 270px;

      &.sales-by-state-map {
        height: 400px;
      }
    }
  }

  &.grey {
    flex: 1 180px;

    .card {
      background-color: darken($base-bg, 5%);
      border: none;
      height: 120px;

      ::ng-deep .dx-button {
        background-color: darken($base-bg, 5%);
      }

      ::ng-deep .content {
        height: auto;

        .total {
          display: inline-block;
          font-size: 26px;
          font-weight: 700;
          color: $base-text-color;
          margin-right: 27px;
        }

        ::ng-deep .percentage {
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          color: $base-text-color;
          line-height: 24px;

          span {
            display: inline-block;
            vertical-align: text-bottom;
          }

          .dx-icon-spindown {
            font-size: 24px;
            color: #ff5722;
            display: inline-block;
          }

          .dx-icon-spinup {
            font-size: 24px;
            color: #2eb52c;
            display: inline-block;
          }
        }
      }
    }
  }
}

::ng-deep .cards {
  display: flex;
  margin: 8px -20px;
  justify-content: space-between;
  justify-items: stretch;
  flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  :host {
    flex: 1 360px;

    .card {
      .content {
        height: auto;
      }
    }
  }
}
