@use "../../../../variables.scss" as *;

:host {
  .card {
    border-radius: 4px;
    box-shadow: none;
    position: relative;
    border: 1px solid $base-border-color;
    overflow: hidden;

    .header {
      padding: $content-padding $content-padding 0;
    }

    ::ng-deep .overflow-menu {
      position: absolute;
      right: 5px;
      left: auto;
      top: 5px;
    }

    .title {
      color: $base-text-color;
      line-height: 19px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      display: inline-block;
      padding-right: 25px;
    }

    &.sales-by-state-map {
      .content {
        height: 400px;
      }
    }

    &.grid {
      .content {
        border-top: 1px solid $base-border-color;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.sales-range {
      margin-top: 20px;

      .content {
        height: auto;
      }
    }

    .content {
      padding: 0 $content-padding $content-padding;
      box-sizing: content-box;
      color: $texteditor-label-color;
      font-size: 14px;
      line-height: 17px;
      height: 270px;
    }
  }
}

::ng-deep .cards {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, calc(50% - 10px));

  &.grey {
    margin: 20px 0;
    grid-template-columns: repeat(4, calc(25% - 15px));

    .card {
      background-color: $side-panel-background;
      border: none;
      height: 120px;

      ::ng-deep .dx-button {
        background-color: $side-panel-background;
      }

      ::ng-deep .content {
        height: auto;

        .total {
          display: inline-block;
          font-size: 26px;
          font-weight: 700;
          color: $base-text-color;
          margin-right: 27px;
        }

        ::ng-deep .percentage {
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          color: $base-text-color;
          line-height: 24px;

          span {
            display: inline-block;
            vertical-align: text-bottom;
          }

          .dx-icon-spindown {
            font-size: 24px;
            color: #ff5722;
            display: inline-block;
          }

          .dx-icon-spinup {
            font-size: 24px;
            color: #2eb52c;
            display: inline-block;
          }
        }
      }
    }


    ::ng-deep .dx-loadpanel-indicator {
      width: 24px;
      height: 24px;
    }
  }

  &.wide {
    margin-right: 0;
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (max-width: 900px) {
  ::ng-deep .cards {
    grid-template-columns: repeat(1, 100%);

    &.grey {
      grid-template-columns: repeat(2, calc(50% - 10px));
    }
  }

  :host {
    .card {
      .content {
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  ::ng-deep .cards {
    &.grey {
      grid-template-columns: repeat(1, 100%);
    }
  }
}

