@use "../../../../variables.scss" as *;

:host {
  .card {
    padding: 16px;
    border-radius: 4px;
    box-shadow: none;
    position: relative;
    border: 1px solid #e0e0e0;
    overflow: hidden;

    .overflow-menu {
      position: absolute;
      right: 10px;
      left: auto;
      top: 10px;
    }

    .title {
      color: $base-text-color;
      line-height: 19px;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      display: inline-block;
      padding-right: 25px;
    }

    .content {
      color: #757575;
      font-size: 14px;
      line-height: 17px;
      height: 270px;

      &.sales-by-state-map {
        height: 400px;
      }
    }
  }
}

::ng-deep .cards {
  display: grid;
  max-width: 100%;
  margin-right: 16px;
  gap: 20px;
  grid-template-columns: repeat(2, 50%);

  &.grey {
    margin: 20px 0;

    .card {
      background-color: #f5f5f5;
      border: none;
      height: 120px;

      ::ng-deep .dx-button {
        background-color: #f5f5f5;
      }

      ::ng-deep .content {
        height: auto;

        .total {
          display: inline-block;
          font-size: 26px;
          font-weight: 700;
          color: #000;
          margin-right: 27px;
        }

        ::ng-deep .percentage {
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          color: #000;
          line-height: 24px;

          span {
            display: inline-block;
            vertical-align: text-bottom;
          }

          .dx-icon-spindown {
            font-size: 24px;
            color: #ff5722;
            display: inline-block;
          }

          .dx-icon-spinup {
            font-size: 24px;
            color: #2eb52c;
            display: inline-block;
          }
        }
      }
    }


    ::ng-deep .dx-loadpanel-indicator {
      width: 24px;
      height: 24px;
    }
  }

  &.wide {
    margin-right: 0;
    grid-template-columns: repeat(1, 100%);
  }

  &.no-border.wide {
    .card {
      border: none;

      ::ng-deep .content {
        height: auto;
      }
    }
  }

  &.grey {
    grid-template-columns: repeat(4, 25%);
  }
}

@media only screen and (max-width: 900px) {
  ::ng-deep .cards {
    grid-template-columns: repeat(1, 100%);

    &.grey {
      grid-template-columns: repeat(2, 50%);
    }
  }
}

@media only screen and (max-width: 400px) {
  ::ng-deep .cards {
    &.grey {
      grid-template-columns: repeat(1, 100%);
    }
  }

  :host {
    .card {
      .content {
        height: auto;
      }
    }
  }
}

