@use "../../../../variables" as *;

.input-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-content,
.messages-content {
  padding: 20px;
}

.messages-content {
  border-top: 1px solid $base-border-color;
  background-color: $side-panel-background;
}

.message-container {
  display: flex;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    flex-shrink: 0;
    margin: 2px 5px;
    background: $base-accent;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-bg;
  }

  .message {
    background-color: $base-bg;
    padding: 10px;
    margin-bottom: 10px;

    .message-title {
      @include message-title();

      .subject {
        color: $base-text-color;
        font-weight: 700;
      }
    }

    .message-text {
      @include message-text();
    }
  }
}
