@use "../../../../variables" as *;

$low-priorety-color: #DFB32F;
$normal-priorety-color: #6FBACA;
$high-priorety-color: #D9534F;

#kanban {
  white-space: nowrap;
}

.list {
  border-radius: 4px;
  margin: 10px;
  background-color: $background-gray-color;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.list-title {
  font-size: 16px;
  padding: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: space-between;

  span.more {
    font-size: 24px;
  }
}

.scrollable-list {
  width: 260px;
}

.sortable-cards {
  min-height: 380px;
}

.card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  width: 240px;
  margin: 10px;
  cursor: pointer;
}

.card-wrapper {
  padding: 10px;

  span.edit {
    position: absolute;
    right: 10px;
    font-size: 18px;
    opacity: 87%;
  }

  &.priority-low {
    .card-priority {
      background: $low-priorety-color;
    }

    span.priority {
      color: $low-priorety-color;
    }
  }

  &.priority-normal {
    .card-priority {
      background: $normal-priorety-color;
    }

    span.priority {
      color: $normal-priorety-color;
    }
  }

  &.priority-high {
    .card-priority {
      background: $high-priorety-color;
    }

    span.priority {
      color: $high-priorety-color;
    }
  }
}

.card-content {
  padding-left: 14px;

  span.priority {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  span.date {
    padding-left: 8px;
    font-size: 12px;
    line-height: 14px;
    opacity: 87%;
  }
}

.card-subject {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 40px;
}

.card-assignee {
  padding-top: 14px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .circle {
    &[data-letters]:before {
      content:attr(data-letters);
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius :50%;
      background: $accent-color;
      color: white;
      }
  }
}

.card-priority {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 4px;
}

.add-task {
  padding: 10px;
}

::ng-deep {
  .add-task {
    .dx-icon, .dx-button-text {
      color: $accent-color;
    }
  }
}
