@use "../../../variables" as *;
@use "sass:math";

//$grid-height: calc(100vh - 160px);
//$side-panel-toolbar-height: 56px;

$left-panel-width: 390px;

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 16px 0 16px;
}

@include separator();

@include status();

.view-wrapper {
    flex-direction: column;

    .toolbar-header {
        @include header();
    }

    @include user-info();

    .user-info {
        .photo {
            width: 184px;
            height: 184px;

            &.form {
                margin-right: -20px;
            }
        }

        margin-bottom: 0;
    }

    .panels {
        display: flex;
        flex-wrap: wrap;
        .left {
            flex-basis: $left-panel-width;
            margin-right: 20px;

            .info {
                display: flex;
                flex-wrap: wrap;
    
                > div {
                    flex-basis: 180px;
    
                    &:first-child {
                        flex-basis: 204px;
                    }
    
                    &.narrow {
                        flex-basis: 80px;
                    }
                }
    
                &.last {
                    margin-bottom: 30px;
                }
    
                .title {
                    padding-top: 16px
                }
            }
        }

        .right {
            flex-grow: 1;
            flex-basis: calc(100% - #{$left-panel-width} - 20px);
            min-width: 360px;

            .tab-content {
                padding: 20px;

                &.colored {
                    border-top: 1px solid #E0E0E0;
                    background-color: #F5F5F5;
                }

                ::ng-deep & .dx-tile {
                    border: none;
                }

                .tile {
                    border-radius: 4px;
                    background: #F5F5F5;
                    padding: 16px;

                    .name {
                        font-size: 16px;
                        font-weight: 700;
                        padding-bottom: 8px;
                    }

                    .product-info {
                        font-size: 12px;
                        padding-bottom: 16px;
                        .total {
                            font-size: 16px;
                        }
                    }

                    .owner {
                        color: rgba(117, 117, 117, 0.87);
                        font-size: 14px;
                        .owner-name {
                            color: #000000DE;
                        }
                    }
                }

                .note {
                    background-color: $base-bg;
                    padding: 10px;
                    margin-bottom: 10px;

                    .note-title {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 12px;
                        color: #757575DE;
                    }

                    .note-text {
                        font-size: 16px;
                        text-align: justify;
                    }
                }
            }
        }

        .panels-header {
            font-size: 16px;
            font-weight: 700;
        }

        .form {
            ::ng-deep & .dx-field-item {
                padding-bottom: 0;
            }
        }
    }
}

