@use '../../variables.scss' as *;
@use 'sass:math';

@include separator();

.view-wrapper-dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;

  .cards {
    display: grid;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: repeat(2, calc(50% - 10px));

    &.compact {
      grid-template-columns: repeat(4, calc(25% - 15px));

      .card {
        background-color: $side-panel-background;
        border: none;
        height: 120px;

        .dx-button {
          background-color: $side-panel-background;
        }

        .content {
          height: auto;

          .total {
            display: inline-block;
            font-size: 26px;
            font-weight: 700;
            color: $base-text-color;
            margin-right: 27px;
          }

          .percentage {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            color: $base-text-color;
            line-height: 24px;

            span {
              display: inline-block;
              vertical-align: text-bottom;
            }

            .dx-icon-spindown {
              font-size: 24px;
              color: #ff5722;
              display: inline-block;
            }

            .dx-icon-spinup {
              font-size: 24px;
              color: #2eb52c;
              display: inline-block;
            }
          }
        }
      }

      .dx-loadpanel-indicator {
        width: 24px;
        height: 24px;
      }
    }

    &.wide {
      margin-right: 0;
      grid-template-columns: repeat(1, 100%);
    }

    &.no-border.wide {
      .card {
        border: none;

        .content {
          height: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .cards {
      grid-template-columns: repeat(1, 100%);

      &.compact {
        grid-template-columns: repeat(2, calc(50% - 10px));
      }
    }

    .card {
      .content {
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .cards {
      &.compact {
        grid-template-columns: repeat(1, 100%);
      }
    }
  }
}
