:host {
  position: relative;
  display: flex;
}

.photo {
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    background-color: rgba(0, 0, 0, 0.04);
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 124px;

    & > span {
      font-weight: 100;
      opacity: 0.5;
      text-align: center;
    }
  }
}

