@use "variables.scss" as *;

.view-wrapper {
  display: flex;
  overflow: hidden;
}

.plain-styled-form {
  .dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 0;
  }

  .dx-field-item {
    padding: 0;

    &.contact-fields-group {
      padding: 15px 0;
    }

    .task-priority,
    .status {
      line-height: 18px;
      font-size: 13px;
    }
  }

  &.view-mode {
    .accent {
      .dx-texteditor.form-editor .form-editor-input {
        color: $accent-color;
      }
    }

    .dx-texteditor,
    .dx-texteditor.form-editor, {
      pointer-events: none;

      .form-editor-input {
        color: $texteditor-edit-color;
      }

      &,
      & > * {
        background-color: transparent;
      }

      &,
      & *,
      &::after {
        border-color: transparent;
        opacity: 1;
      }
    }
  }
}

@mixin status($status-color) {
  color: $status-color;

  &.dx-texteditor {
    .status-input.status-editor-input {
      color: $status-color;
    }
  }

  &::before {
    background: $status-color;
  }
}

.status-indicator-open {
  @include status(#505ed9);
}

.status-indicator-in-progress {
  @include status(#34aa95);
}

.status-indicator-deferred {
  @include status(#969696);
}

.status-indicator-completed {
  @include status(#2b9029);
}

.status-indicator-low {
  @include status(#d3a268);
}

.status-indicator-normal {
  @include status(#6fbaca);
}

.status-indicator-high {
  @include status(#ff5722);
}
