@use "variables.scss" as *;

.view-wrapper-scroll > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.header-text {
  @include header();
}

.title-text {
  font-size: 16px;
  font-weight: 500;
}

.subtitle-text {
  color: var(--subtitle-text-color);
  font-size: 14px;
  font-weight: 400;
}

.content {
  line-height: 1.5;
}

.separator {
  height: 24px;
  width: 1px;
  background: var(--border-color);

  .dx-toolbar-menu-section & {
    height: 1px;
    width: auto;
  }
}

.view-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 var(--page-padding);
}

.details-card {
  border: none;
}

.view-wrapper-scroll .content {
  line-height: 1.5;
  flex-grow: 1;
  height: 100%;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.container {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.side-nav-outer-toolbar .dx-drawer {
  height: calc(100% - 56px)
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

#app {
  height: 100%;
}

.dx-texteditor-label {
  height: auto;

  .dx-label {
    line-height: 1;
  }
}

.embedded {
  .layout-header,
  .dx-swatch-additional,
  .dx-drawer-shader {
    display: none !important;
  }

  .dx-drawer-content {
    padding: initial !important;
  }

  .dx-drawer-panel-content,
  .dx-drawer-panel-content .dx-overlay-content {
    width: initial !important;
  }
}

.dx-form.plain-styled-form {
  & > .dx-layout-manager.dx-layout-manager-one-col .dx-field-item.dx-last-row:not(.dx-last-col) {
    padding-bottom: 0;
  }

  .dx-layout-manager .dx-field-item {
    padding-bottom: 0;

    &:not(.dx-first-col) {
      padding-left: 0;
    }

    &.contact-fields-group {
      padding: 15px 0;
    }

    .task-priority {
      line-height: 18px;
      font-size: 13px;
    }
  }

  .form-item-button {
    margin-left: 10px;
    margin-top: 5px;
  }

  &.view-mode {
    .accent {
      .dx-texteditor.form-editor .form-editor-input {
        color: var(--accent-color);
      }
    }

    .dx-texteditor,
    .dx-texteditor.form-editor {
      pointer-events: none;

      .form-editor-input {
        color: var(--texteditor-edit-color);
      }

      &,
      & > * {
        background-color: transparent;
      }

      &,
      & *,
      &::after {
        border-color: transparent;
        opacity: 1;
      }
    }
  }
}

.status-indicator-open {
  @include status(#505ed9);
}

.status-indicator-in-progress {
  @include status(#34aa95);
}

.status-indicator-deferred {
  @include status(#969696);
}

.status-indicator-completed {
  @include status(#2b9029);
}

.status-indicator-low {
  @include status(#d3a268);
}

.status-indicator-normal {
  @include status(#6fbaca);
}

.status-indicator-high {
  @include status(#ff5722);
}

.dx-theme-fluent-typography {
  font-family: "Inter", sans-serif;
}

.dx-theme-fluent {
  .dx-widget {
    font-family: "Inter", sans-serif;
  }

  .dx-drawer-panel-content {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  }

  .layout-body {
    .menu-container.theme-dependent, .footer {
      background-color: var(--base-bg);
    }
  }

  .layout-body .menu-container.theme-dependent {
    padding-top: 0;
  }

  .view-wrapper {
    .dx-toolbar.dx-widget.theme-dependent {
      @include toolbar-panel();
    }

    .grid.theme-dependent {
      .dx-toolbar.dx-widget {
        @include toolbar-panel();
      }

      .dx-datagrid-header-panel {
        padding: 0;
      }
    }

    .panels {
      .left {
        background-color: var(--base-bg);
        padding: 16px 24px;
        border-radius: 8px;
        @include card-shadow();
      }

      .right {
        flex: 1 calc(100% - var(--left-panel-width) - 110px) !important;
      }
    }

    &.view-wrapper-contact-list {
      margin-bottom: var(--content-padding);
    }
  }
  .view-wrapper.list-page {
    margin-top: var(--content-padding);

    .dx-toolbar.dx-widget.theme-dependent, .grid.theme-dependent .dx-toolbar {
      margin-bottom: var(--content-padding);
    }
  }

  .dx-card {
    @include card-shadow();
  }

  .host .photo.photo {
    border-radius: 50%;
  }

  .dx-form.plain-styled-form.view-mode {
    .dx-texteditor {
      &.form-editor,
      &.dx-editor-filled {
        .form-editor-input {
          padding-left: 0;
        }
      }
    }
  }

  .cards:not(.compact) {
    .card {
      border-radius: 8px;
      border: 0;
      background: var(--base-bg);
      @include card-shadow();
    }
  }

  .form-editor.dx-state-readonly {
    .status.status-indicator {
      .dx-state-readonly {
        .status-input.status-editor-input {
          padding-left: 0;
        }
      }
    }

    .form-editor-input {
      padding-left: 0;
    }
  }

  #contact-form {
    .dx-state-readonly {
      .status-editor-field .status-indicator {
        padding-left: 0;
      }
    }
  }

  .dx-form.plain-styled-form {
    .dx-button.form-item-button {
      margin-left: 0;
      margin-top: 5px;
    }
  }
  .contact-form {
    .form-editor-input {
      padding-left: 0;
    }
  }

  div.gantt {
    padding: 0 !important;
  }

  .dx-datagrid-headers.dx-datagrid-nowrap.dx-bordered-top-view {
    border-radius: 8px 8px 0 0;
  }

  .theme-dependent {
    .dx-gridbase-container {
      > .dx-bordered-bottom-view {
        border-radius: 0 0 8px 8px;
      }
    }
  }

  .panel.profile-card {
    @include card-shadow();

    background-color: var(--base-bg);
  }

  .right-side-panel.open {
    background-color: var(--base-bg);
  }
}
