$base-bg: var(--base-bg);
$base-bg-darken-5: var(--base-bg-darken-5);
$base-bg-darken-4: var(--base-bg-darken-4);
$base-text-color: var(--base-text-color);
$base-text-color-alpha: var(--base-text-color-alpha);
$base-focus-color: var(--base-focus-color);
$side-panel-background: $base-bg-darken-5;
$background-color: $base-bg;
$border-color: var(--border-color);
$accent-color: var(--accent-color);
$background-gray-color: var(--background-gray-color);
$texteditor-edit-color: var(--texteditor-edit-color);
$texteditor-label-color: var(--texteditor-label-color);

$toolbar-height: var(--toolbar-height);
$filled-texteditor-input-horizontal-padding: var(--filled-texteditor-input-horizontal-padding);
$list-padding-left: var(--list-padding-left);
$list-padding-vertical: var(--list-padding-vertical);
$footer-left-padding: var(--footer-left-padding);

$header-toolbar-vertical-padding: 10px;
$toolbar-vertical-padding: 16px;
$content-padding: 16px;
$side-panel-min-width: var(--side-panel-min-width);
$toolbar-margin-bottom: $content-padding;
$subtitle-text-color: $texteditor-label-color;
$footer-height: 70px;
$drop-down-gnrc-button-height: var(--drop-down-gnrc-button-height);


@mixin separator() {
  .h-separator {
    height: 1px;
    width: auto;
    background: $border-color;
  }

  .separator {
    height: 24px;
    width: 1px;
    background: $border-color;

    .dx-toolbar-menu-section & {
      height: 1px;
      width: auto;
    }
  }
}

@mixin header {
  font-size: 22px;
  font-weight: 500;
  padding-right: 25px;
}

@mixin shadow() {
  box-shadow: 0 1px 4px 0 #00000026;
}

@mixin message-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: $texteditor-label-color;
}

@mixin message-text {
  padding-top: 5px;
  line-height: 21px;
}

@mixin messages-content {
  .messages-content {
    padding: 20px;
    border-top: 1px solid $border-color;
    background-color: $side-panel-background;
  }
}

@mixin status($status-color) {
  color: $status-color;

  &.dx-texteditor {
    .status-input.status-editor-input {
      color: $status-color;
    }
  }

  &::before {
    background: $status-color;
  }
}
