@use "../../../../variables.scss" as *;
@use "sass:math";

dx-data-grid {
  border-top: 1px solid $base-border-color;
}

#tasks-grid {
  min-height: 300px;

  .priority span {
    font-size: 12px;
  }
}

::ng-deep {
  .dx-row.completed {
    background: $background-gray-color;
  }
}

.edit-cell {
  position: relative;

  task-priority,
  task-status {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
  }
}
