/* stylelint-disable no-duplicate-selectors */
@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 250px !important;

  .menu-container {
    background-color: $side-panel-background;
    min-height: 100%;
    display: flex;
    flex: 1;

    ::ng-deep .dx-treeview {
      // ## Long text positioning
      white-space: nowrap;

      // ##

      .dx-scrollable-content {
        > .dx-treeview-node-container:first-child {
          > .dx-treeview-node:first-child {
            > .dx-treeview-item {
              box-shadow: inset 0 4px 8px rgb(0, 0, 0, 0.05);

              .screen-large & {
                box-shadow: none;
              }
            }
          }
        }
      }

      // ## Icon width customization
      .dx-treeview-item {
        padding-left: 0;
        padding-right: 0;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }

      // ##

      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }

      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level="1"] {
          font-weight: bold;
          border-bottom: 1px solid $base-border-color;
        }

        &[aria-level="2"] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 $side-panel-min-width;
        }
      }

      // ##
    }

    // ## Selected & Focuced items customization
    ::ng-deep .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
            background: transparent;
          }

          &.dx-state-selected > .dx-treeview-item * {
            color: $base-accent;
          }

          &:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            background-color: darken($base-bg, 4);
          }
        }
      }
    }

    :host-context(.dx-theme-generic) ::ng-deep.dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused > .dx-treeview-item * {
        color: inherit;
      }
    }

    // ##
  }
}
