@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  .centered {
    margin: auto;
    display: block;
  }
  
  ::ng-deep .card.sales-range {
    margin-top: 20px;

    .content {
      height: auto;
    }
  }
}
