@use "../../variables.scss" as *;

.side-nav-outer-toolbar {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1503;
}

.layout-body {
  background-color: var(--background-color);
}

.drawer {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
}

.dx-drawer-panel-content .dx-overlay-content {
  box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.12);
}
