@use "../../variables.scss" as *;

.task-form {
  min-height: 300px;

  .priority-task-editor-field,
  .status-task-editor-field {
    display: flex;
    padding-left: $list-padding-left;

    .priority-task,
    .status-task {
      align-self: flex-end;
    }
  }
}
