@use "../../../../variables.scss" as *;

#card-opportunies {
  min-height: 300px;
  padding: 20px;
}

.opportunities-block {
  padding: 10px 0;
}

.opportunities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.opportunities {
  padding: 16px;
  border-radius: 4px;
  background: $side-panel-background;
  flex: 1 300px;
  max-width: 300px;

  .name {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
  }

  .product-info {
    font-size: 12px;
    padding-bottom: 16px;

    .total {
      font-size: 16px;
    }
  }

  .owner {
    color: rgba(117, 117, 117, 0.87);
    font-size: 14px;

    .owner-name {
      color: $base-text-color;
    }
  }
}
