@use "../../variables.scss" as *;

.create-account-form {
  .policy-info {
    margin: 10px 0;
    color: $base-text-color-alpha;
    font-size: 14px;
    font-style: normal;

    a {
      color: $base-text-color-alpha;
    }
  }

  .login-link {
    color: $accent-color;
    font-size: 16px;
    text-align: center;
  }
}
