@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $content-padding;
}

.view-wrapper {
  flex-direction: column;
}

::ng-deep {
  .dx-toolbar {
    .toolbar-header {
      @include header();
    }
  }
}

.sales-pie,
.sales-bars {
  display: inline-block;
  height: 100%;
}

.sales-pie {
  width: 400px;
}

.sales-bars {
  width: calc(100% - 600px);
}

.sales-filter {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .sales-pie,
  .sales-bars {
    display: block;
  }

  .sales-pie {
    width: 320px;
  }

  .sales-bars {
    width: 320px;
  }
}
