@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

.view-wrapper {
  flex-direction: column;
}

::ng-deep {
  .dx-toolbar {
    .toolbar-header {
      @include header();
    }
  }

  .add-card {
    .dx-icon.dx-icon-plus,
    .dx-button-text {
      color: #fff;
    }
  }
}

.sales-pie,
.sales-bars {
  display: inline-block;
  height: 100%;
}

.sales-pie {
  width: 400px;
}

.sales-bars {
  width: calc(100% - 600px);
}

.sales-filter {
  display: inline-block;

  & dx-drop-down-button {
    position: absolute;
    top: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .sales-pie,
  .sales-bars {
    display: block;
  }

  .sales-pie {
    width: 320px;
  }

  .sales-bars {
    width: 320px;
  }
}
