@use "../../../variables.scss" as *;

:host {
  --left-panel-width: 400px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.dx-toolbar ::ng-deep {
  margin-bottom: 24px;
  background-color: var(--base-bg);
  padding: 5px var(--content-padding);
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);

  .dx-toolbar-label > div {
    @include header();
  }
}

.view-wrapper {
  padding: 24px calc(var(--content-padding) * 2);

  .panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .left {
      flex: 1 400px;
    }

    .right {
      flex: 1 calc(100% - 400px - 20px);
      min-width: 340px;
    }
  }
}

:host-context(.dx-theme-fluent) {
  .view-wrapper {
    .panels {
      .left {
        background-color: var(--base-bg);
        padding: 16px 24px;
        border-radius: 8px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
      }

      .right {
        .dx-card {
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}
