@use "../../../../variables" as *;
@use "sass:math";

::ng-deep {
  .dx-datagrid-header-panel {
    padding-top: 0;
  }

  .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon.dx-icon-plus,
  .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-button-text {
    color: #fff;
  }

  .dx-row.completed {
    background: $background-gray-color;
  }
}
