@use "../../../../variables" as *;
@use "sass:math";

::ng-deep {
  .dx-datagrid-header-panel {
    padding-top: 0;
  }

  .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon.dx-icon-plus,
  .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-button-text {
    color: #fff;
  }
}

.cell-priority {
  display: flex;
  align-items: center;

  &.Low {
    color: #D3A268;

    .separator {
      background: #D3A268;
    }
  }

  &.Normal {
    color: #6FBACA;

    .separator {
      background: #6FBACA;
    }
  }

  &.Hight {
    color: #FF5722;

    .separator {
      background: #FF5722;
    }
  }

  .separator {
    width: 2px;
    height: 18px;
    margin-right: 6px;
    border-radius: 2px;
    display: inline-block;
  }

  span {
    font-weight: 600;
    font-size: 12px;
  }

}

.cell-status {
  span {
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 8px 3px;

    &.Open {
      color: #505ED9;
    }

    &.In-Progress {
      color: #34AA95;
    }

    &.Deferred {
      color: #969696;
    }

    &.Completed {
      color: #2B9029;
    }
  }
}
