@use "../../../../variables.scss" as *;

.reset-password-form {
  ::ng-deep .submit-button {
    margin-top: 10px;
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }
}
