@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  @include page-container();

  .dx-toolbar {
    margin-bottom: $toolbar-margin-bottom;
  }
}

::ng-deep {
  .dx-toolbar {
    margin-bottom: calc(#{$toolbar-margin-bottom} / 2);

    .toolbar-header {
      @include header();
    }

    .dx-tabs .dx-tab {
      background-color: $background-color;

      &:nth-child(2) {
        width: 150px;
      }
    }
  }
}

.view-wrapper {
  flex-direction: column;
}
