@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .dx-toolbar {
    padding: 20px $content-padding $content-padding;

    &::ng-deep {
      .toolbar-header {
        @include header();
        padding-right: 20px;
      }

      .dx-tabs .dx-tab {
        background-color: $background-color;
      }
    }
  }
}

.gantt,
.kanban {
  padding: 0 $content-padding;
}

.view-wrapper {
  flex-direction: column;
}
