@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

::ng-deep {
  .dx-toolbar {
    .toolbar-header {
      @include header();
    }

    .dx-tabs .dx-tab {
      background-color: $background-color;

      &:nth-child(2) {
        width: 150px;
      }
    }
  }
}

.view-wrapper {
  flex-direction: column;
}
