@use "../../../variables" as *;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

@include separator();

@include status();

::ng-deep {
  .dx-toolbar {
    .toolbar-header {
      @include header();
    }

    .dx-tabs .dx-tab {
      background-color: $background-color;

      &:nth-child(2) {
        width: 150px;
      }
    }
  }

  .search-grid {
    .dx-placeholder {
      font-size: 14px;
    }

    .dx-texteditor.dx-editor-filled .dx-texteditor-input,
    .dx-texteditor.dx-editor-outlined .dx-texteditor-input,
    .dx-texteditor.dx-editor-filled .dx-placeholder::before,
    .dx-texteditor.dx-editor-outlined .dx-placeholder::before {
      padding-left: 0;
    }
  }

  .add-grid-row {
    .dx-icon.dx-icon-plus,
    .dx-button-text {
      color: #fff;
    }
  }
}

.view-wrapper {
  flex-direction: column;
}
