@use "../../../variables" as *;
@use "sass:math";

$left-panel-width: 400px;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

@mixin message-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: #757575DE;
}

@mixin message-text {
  padding-top: 5px;
  font-size: 16px;
  line-height: 24px;
}

@include separator();

@include status();

::ng-deep {
  .dx-toolbar {
    .toolbar-header {
        @include header();
    }
  }

  .left .info .value {
      span.status,
      .priority span {
          font-size: 16px;
      }

  }
}

.view-wrapper {
  flex-direction: column;

  @include user-info();

  .panels {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;

    .left {
        flex-basis: $left-panel-width;
        flex-grow: 1;
        padding-right: 20px;

        .info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > div {
                flex-basis: 180px;

                &:first-child {
                    flex-basis: 204px;
                }

                &.narrow {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &.last {
                margin-bottom: 30px;

                &.small {
                    margin-bottom: 16px;
                }

                &.long {
                    > div {
                        &:first-child {
                            flex-basis: auto;
                        }
                    }
                }
            }

            .button {
                margin-top: 8px;
            }

            .title {
                padding-top: 8px;
            }
        }
    }

    .right {
        flex-grow: 1;
        flex-basis: calc(100% - #{$left-panel-width} - 20px);
        min-width: 360px;
        padding-right: 20px;

        .tab-content {
            padding: 20px;

            &.colored {
                border-top: 1px solid $base-border-color;
                background-color: $side-panel-background;
            }

            .tiles-header {
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 12px;
            }

            .add-tile {
                margin-bottom: 30px;
            }

            .tile {
                border-radius: 4px;
                background: $side-panel-background;
                padding: 16px;
                width: 320px;
                margin: 0 10px 10px 0;
                display: inline-block;

                .name {
                    font-size: 16px;
                    font-weight: 700;
                    padding-bottom: 8px;
                }

                .product-info {
                    font-size: 12px;
                    padding-bottom: 16px;
                    .total {
                        font-size: 16px;
                    }
                }

                .owner {
                    color: rgba(117, 117, 117, 0.87);
                    font-size: 14px;
                    .owner-name {
                        color: $base-text-color;
                    }
                }
            }

            .note {
                background-color: $base-bg;
                padding: 10px;
                margin-bottom: 10px;

                .note-title {
                    @include message-title();
                }

                .note-text {
                    @include message-text();
                }
            }

            .message-container {
                display: flex;
                &:nth-child(odd) {
                    flex-direction: row-reverse;
                }

                .avatar {
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                    flex-shrink: 0;
                    margin: 2px 5px;
                    background: $base-accent;
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $base-bg;
                }
                .message {
                    background-color: $base-bg;
                    padding: 10px;
                    margin-bottom: 10px;

                    .message-title {
                        @include message-title();

                        .subject {
                            color: $base-text-color;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }

                    .message-text {
                        @include message-text();
                    }
                }
            }
        }
    }
  }
  
  .panels-header {
    font-size: 16px;
    font-weight: 700;
  }

  .form {
      margin-bottom: 30px;
      ::ng-deep & .dx-field-item {
          padding-bottom: 0;
      }
  }
}
