@use "../../variables.scss" as *;

.footer {
  display: block;
  color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  background-color: $side-panel-background;
  padding: 20px 0 16px 21px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
