@use "../../variables.scss" as *;

.footer {
  display: block;
  color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  border-top: 1px solid $base-border-color;
  padding-top: 20px;
  padding-bottom: 24px;
}
