@use "../../../variables.scss" as *;
@use "sass:math";

.panel {
  @include shadow();

  width: 100%;
  padding: 0 0 $content-padding 0;
  border-radius: 8px;

  .panel-header {
    padding: $content-padding;
    border-bottom: 1px solid $border-color;
  }

  .top-item-wrapper {
    display: flex;
  }

  &::ng-deep {
    [top-item] {
      display: flex;
      min-height: 50px;

      & > div {
        display: flex;
        flex-flow: column;
        gap: 5px;
      }
    }

    .dx-field-item {
      padding-top: calc($content-padding / 2);
      padding-right: 0;
    }
  }

  .form-container {
    margin: calc($content-padding * 2) $content-padding 0;
  }
}