@use "../../../variables.scss" as *;
@use "sass:math";

@include separator();

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

.view-wrapper {
  flex-direction: column;

  .wide {
    margin: 20px 0;
  }
}
