@use "../../../variables.scss" as *;
@use "devextreme/scss/widgets/material/textEditor/sizes" as *;

:host {
  --contact-side-panel-toolbar-top: 58px;
  --contact-side-panel-width: 350px;
}

:host-context(.screen-x-small) {
  --contact-side-panel-width: 100vw;
}

:host .panel {
  position: fixed;
  right: calc(-1 * var(--contact-side-panel-width));
  top: var(--contact-side-panel-toolbar-top);
  bottom: 0;
  background: $base-bg;
  transition: right 400ms;

  .embedded.dx-viewport & {
    top: 0;
  }

  &.open {
    right: 0;
    box-shadow: 0 0 16px $base-border-color;
  }

  &.pin {
    position: absolute;
    transition: none;
    box-shadow: none;
    border-left: 1px solid $base-border-color;

    &.open {
      top: 0;
      position: relative;
    }
  }

  ::ng-deep .dx-layout-manager-one-col .dx-box-item {
    .dx-single-column-item-content .contact-fields-group {
      padding-top: 20px;
    }
  }

  ::ng-deep .photo-row .dx-item .dx-item:has(.photo-box)  {
    max-width: 144px;
  }

  .data-wrapper {
    padding-bottom: 16px;
    height: 100%;
    width: var(--contact-side-panel-width);

    .data-part {
      padding: 0 16px;

      .panel-toolbar {
        ::ng-deep .dx-toolbar-items-container {
          height: $toolbar-items-container-height;
        }
      }

      &.border {
        border-bottom: 1px solid $base-border-color;
      }

      &-toolbar {
        padding: 10px 16px;
        margin-bottom: $toolbar-margin-bottom;

        .dx-button {
          min-width: 90px;
        }
      }
    }

    .panel-scroll {
      height: calc(100% - 20px);
    }

    .contact-name {
      font-weight: bold;
      margin-right: 8px;
    }

    .opportunities {
      padding-bottom: 10px;
    }

    .dx-accordion {
      .accordion-title {
        vertical-align: middle;
        padding-right: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}
