@use "../../../variables" as *;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

@include separator();

@include status();

.view-wrapper {
  flex-direction: column;

  .dx-toolbar {
    .toolbar-header {
        @include header();
    }

    ::ng-deep {
      .dx-tabs .dx-tab {
        background-color: #fff;

        &:nth-child(2) {
          width: 150px;
        }
      }
    }
  }

  .task-list {
    position: relative;
    width: 100%;
    height: 400px;
  }
}
