@use "../../../variables" as *;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

@include separator();

@include status();

.view-wrapper {
  flex-direction: column;

  .dx-toolbar {
    .toolbar-header {
        @include header();
    }

    ::ng-deep {
      .dx-tabs .dx-tab {
        background-color: $background-color;

        &:nth-child(2) {
          width: 150px;
        }
      }
    }
  }

  .task-list {
    .grid {
      ::ng-deep {
        .dx-progressbar-container {
          height: 10px;
        }

        .complete .dx-progressbar-range {
          background-color: #8EC797;
        }

        .dx-progressbar-status {
          color: #757575;
        }

        .dx-datagrid-header-panel .dx-datagrid-toolbar-button .dx-icon.dx-icon-plus {
          color: $background-color;
        }
      }
    }
  }

  .cell-priority {
    display: flex;
    align-items: center;

    &.Low {
      color: #D3A268;

      .separator {
        background: #D3A268;
      }
    }

    &.Normal {
      color: #6FBACA;

      .separator {
        background: #6FBACA;
      }
    }

    &.Hight {
      color: #FF5722;

      .separator {
        background: #FF5722;
      }
    }

    .separator {
      width: 2px;
      height: 18px;
      margin-right: 6px;
      border-radius: 2px;
      display: inline-block;
    }

    span {
      font-weight: 600;
      font-size: 12px;
    }

  }

  .cell-status {
    span {
      font-size: 12px;
      border-radius: 10px;
      padding: 2px 8px 3px;

      &.Open {
        color: #505ED9;
      }

      &.In-Progress {
        color: #34AA95;
      }

      &.Deferred {
        color: #969696;
      }

      &.Completed {
        color: #2B9029;
      }
    }
  }
}
