@use "../../../variables" as *;
@use "sass:math";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 16px 0 16px;
}

@include separator();

@include status();

.view-wrapper {
  flex-direction: column;

  .task-list {
    ::ng-deep {
      .dx-toolbar {
        .toolbar-header {
            @include header();
        }

        .dx-tabs .dx-tab {
          background-color: $background-color;

          &:nth-child(2) {
            width: 150px;
          }
        }
      }
    }

    .kanban, .gantt {
      ::ng-deep {
        .dx-toolbar {
          padding: 0 16px;
        }
      }
    }
  }
}
