@use "../../../../variables" as *;

#kanban {
  white-space: nowrap;
}

.list {
  border-radius: 4px;
  margin: 10px;
  background-color: $background-gray-color;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.list-title {
  font-size: 16px;
  padding: 10px;
  margin-bottom: -10px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: space-between;

  dx-button {
    background-color: rgba(0, 0, 0, 0);
  }
}

.scrollable-list {
  width: 260px;
}

.sortable-cards {
  min-height: 380px;
}

.empty-card {
  height: 10px;
  pointer-events: none;
}

.add-task {
  padding: 10px;
}

::ng-deep {
  .add-task {
    .dx-icon,
    .dx-button-text {
      color: $accent-color;
    }
  }
}
