@use "../../../../variables.scss" as *;

:host {
  --side-panel-width: calc(var(--calendar-width) + #{$content-padding});

  display: flex;
  flex-direction: column;
  height: 100%;

  &:not(.overlapping) {
    .right-side-panel {
      .side-panel-content-wrapper,
      .side-panel-title {
        display: none;
      }
    }

    &.open .right-side-panel {
      border: 1px solid $border-color;
      border-radius: 8px;

      .side-panel-content-wrapper,
      .side-panel-title {
        display: initial;
      }
    }
  }

  &.overlapping {
    position: absolute;
    background-color: $base-bg;
    z-index: 3;
    right: 0;
    top: 0;
    width: var(--contact-side-panel-width);

    &:not(.open) {
      width: 0;
    }

    .right-side-panel {
      padding: $content-padding 0;
    }

    &.open .right-side-panel {
      box-shadow: 0 0 8px $border-color;
    }
  }

  &.open .right-side-panel {
    width: var(--side-panel-width);

    .side-panel-header {
      padding: $content-padding;
      border-bottom-color: var(--border-color);

      .open-button::ng-deep .dx-icon {
        color: $accent-color;
      }
    }

    .side-panel-content-wrapper {
      padding-left: 0;
    }
  }
}

.right-side-panel {
  position: relative;
  border: 0 solid transparent;
  flex: 1 1 0;
  height: 100%;

  .side-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $content-padding 0;
    border-bottom: solid 1px transparent;
  }

  .side-panel-title {
    flex: 1 1 0;

    .side-panel-title-text {
      color: $accent-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .side-panel-content-wrapper {
    white-space: nowrap;
    padding-left: $toolbar-vertical-padding;
  }
}
