/* stylelint-disable no-duplicate-selectors */
@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;

  .menu-container {
    background-color: var(--side-panel-background);
    min-height: 100%;
    width: 250px;
    display: flex;
    flex: 1;
    padding-top: var(--toolbar-vertical-padding);
    padding-bottom: var(--footer-height);

    ::ng-deep .dx-treeview {

      // ## Long text positioning
      white-space: nowrap;

      // ## Icon width customization
      .dx-treeview-item {
        padding-left: 0;
        flex-direction: row-reverse;
        border-radius: 0;

        .dx-icon.dx-icon {
          width: var(--side-panel-min-width);
          margin: 0;
        }
      }

      // ##

      // ## Arrow customization
      .dx-treeview-node.dx-treeview-node {
        padding: 0 0;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }

      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level="1"] {
          font-weight: bold;
          border-bottom: 1px solid var(--border-color);
        }

        &[aria-level="2"] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 0 0 var(--side-panel-min-width);
        }
      }

      // ##
    }

    // ##
  }
}
