$theme: null !default;

@use "/node_modules/devextreme/scss/widgets/material/colors" as * with ($color: "blue", $mode: $theme);
@use "/node_modules/devextreme/scss/widgets/material/sizes" as * with ($size: "compact");
@use "/node_modules/devextreme/scss/widgets/material/button/mixins" as *;
@use "/node_modules/devextreme/scss/widgets/material/textEditor/colors" as *;
@use "/node_modules/devextreme/scss/widgets/material/fieldset/sizes" as *;
@use "/node_modules/devextreme/scss/widgets/material/popup/sizes" as *;
@use '/node_modules/devextreme/scss/widgets/material/toolbar/sizes' as toolbar_sizes;
@use "/node_modules/devextreme/scss/widgets/material/list/sizes" as *;
@use "/node_modules/devextreme/scss/widgets/material/button/sizes" as *;
@use "sass:math";
@use "sass:color";

$theme-padding: $material-button-horizontal-padding;
$button-height-theme-difference: calc(($theme-padding - 10px) / 3); // WA for no button-height in generic theme
$button-height: calc(26px + $button-height-theme-difference); // remove when design-system is released
$side-panel-min-width: 48px;

:root {
  --accent-color: #{$base-accent};
  --background-color: var(--base-bg);
  --background-gray-color: #{color.change($base-text-color, $alpha: 0.04)};
  --base-bg: #{$base-bg};
  --base-bg-darken-5: #{darken($base-bg, 5)};
  --base-bg-darken-4: #{darken($base-bg, 4)};
  --base-focus-color: #{$base-focus-color};
  --base-text-color: #{$base-text-color};
  --base-text-color-alpha: #{rgba($base-text-color, alpha($base-text-color) * 0.7)};
  --border-color: #{$base-border-color};
  --card-background: #{$base-bg};

  @if $theme == dark {
    --card-background: var(--base-bg-darken-5);
  }

  --calendar-width: 292px;
  --drop-down-gnrc-button-height: #{$material-base-inline-widget-height};
  --filled-texteditor-input-horizontal-padding: #{$material-field-value-horizontal-padding};
  --footer-left-padding: #{math.div(($side-panel-min-width - $material-base-icon-size), 2)};
  --list-padding-left: #{$material-list-item-horizontal-padding};
  --list-padding-vertical: #{$material-list-item-vertical-padding};
  --popup-toolbar-item-spacing: #{$material-popup-toolbar-item-spacing};
  --scheduler-toolbar-height: #{calc($button-height + 2 * $theme-padding)};
  --side-panel-background: var(--base-bg-darken-5);
  --side-panel-min-width: #{$side-panel-min-width};
  --texteditor-edit-color: #{$texteditor-color};
  --texteditor-label-color: #{$texteditor-label-color};
  --theme-padding: #{$theme-padding};
  --toolbar-height: #{toolbar_sizes.$material-toolbar-height};
  --tooltip-danger-button-color: #{color.change($base-danger, $alpha: 0.1)};
  --tooltip-success-button-color: #{color.change($base-success, $alpha: 0.1)};
}
