@use "../../../../variables" as *;

:host {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.15);

  ::ng-deep .dx-toolbar .dx-toolbar-item.menu-button > .dx-toolbar-item-content .dx-icon {
    color: $base-accent;
  }
}

::ng-deep .dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;

  :host-context(.screen-x-small) & {
    padding: 0 20px;
  }
}

::ng-deep .dx-toolbar .dx-toolbar-item.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

::ng-deep .header-title .dx-item-content {
  padding: 0;
  margin: 0;
  color: $base-accent;
}

:host-context(.dx-theme-generic) {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button > .dx-button-content {
    padding: 3px;
  }
}

header {
  padding: 10px 0;
  background-color: $base-bg;

  .user-button.authorization {
    margin-left: 10px;
  }
}
